### https://raw.github.com/github/gitignore/5445a270254a0b4443b20ed0033c4094959f937e/community/DotNet/core.gitignore

*.swp
*.*~
project.lock.json
.DS_Store
*.pyc
nupkg/

# Visual Studio Code
.vscode

# Rider
.idea

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
msbuild.log
msbuild.err
msbuild.wrn

# Visual Studio 2015
.vs/

### https://raw.github.com/github/gitignore/5445a270254a0b4443b20ed0033c4094959f937e/Global/Backup.gitignore

*.bak
*.gho
*.ori
*.orig
*.tmp

### https://raw.github.com/github/gitignore/5445a270254a0b4443b20ed0033c4094959f937e/Global/Tags.gitignore

# Ignore tags created by etags, ctags, gtags (GNU global) and cscope
TAGS
.TAGS
!TAGS/
tags
.tags
!tags/
gtags.files
GTAGS
GRTAGS
GPATH
GSYMS
cscope.files
cscope.out
cscope.in.out
cscope.po.out
